@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*模組CSS button start*/
/*按鈕1 start*/
button {
  font-family: "微軟正黑體";
  font-size: 16px;
  background: #07336e;
  color: #fff;
  border: none;
  padding: 8px 15px; }
  button a {
    color: #fff;
    text-decoration: none; }

button:hover {
  background: #30abdb;
  cursor: pointer; }

/*按鈕1 end*/
/*按鈕2 start*/
.button {
  background-color: #7eafc7;
  color: #fff;
  text-align: center;
  transition: all 0.5s;
  display: inline-block;
  cursor: pointer;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 20px; }
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.4s; }
    .button span a {
      color: #fff;
      text-decoration: none; }

.button {
  margin-bottom: 800px; }

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s; }

.button:hover {
  background: #59a9ba; }
  .button:hover span {
    padding-right: 25px; }

.button:hover span:after {
  opacity: 1;
  right: 0; }

/*按鈕2 end*/
/*模組CSS button end*/
/*內頁公版 header、footer CSS start*/
body.content {
  background-image: url("../images/body-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom right; }

nav ul li {
  display: inline-block;
  text-align: center; }

nav ul li a {
  text-align: center; }

nav ul li a:after {
  content: "";
  display: block;
  width: 0;
  padding: 0 0 6px 0;
  border-bottom: 2px solid #3db7e4;
  transition: width 0.3s ease-in-out;
  margin: auto; }

nav .navmenu li a:hover {
  color: #3db7e4; }

nav .navmenu li a:hover:after {
  width: 100%; }

nav {
  background-image: url("../images/header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10; }

nav a {
  color: #fff;
  text-decoration: none; }

/*nav logo*/
.logobox {
  width: 120px;
  height: 130px;
  box-shadow: 3px 3px 16px 6px rgba(20, 20, 20, 0.4);
  border-radius: 0 0 1000px 1000px;
  background-color: #123a6f;
  position: absolute;
  transition: 0.5s;
  z-index: 3;
  top: 0;
  left: 5%; }

.logobox img {
  width: 90%;
  margin: 5%;
  height: auto; }

/*nav manu*/
.navbar {
  width: 100vw;
  height: 90px;
  background-color: #123a6f;
  box-shadow: 3px 3px 16px 6px rgba(20, 20, 20, 0.4);
  padding: 0 5%;
  box-sizing: border-box;
  position: fixed;
  transition: .5s; }

.top {
  float: right; }

.clearfix {
  clear: both; }

.headerIcon {
  transition: 0.5s;
  display: flex;
  flex-direction: row; }

.headerIcon li {
  color: #fffffe;
  font-size: 20px;
  padding: 10px 0px 5px 10px;
  box-sizing: border-box; }

/*menu */
.navContainer {
  float: right;
  box-sizing: border-box; }

.navmenu {
  margin-right: 60px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end; }

.navmenu li {
  padding: 15px;
  box-sizing: border-box; }

input#checkboxMenu {
  opacity: 0;
  position: absolute;
  left: 0;
  top: 9px; }

/*content start*/
.contentArea {
  max-width: 1200px;
  margin: auto; }

footer {
  background: #041748;
  padding: 20px; }

footer p {
  color: #fff;
  text-align: center; }

.content button {
  margin-bottom: 100px; }

.gotoTop {
  position: fixed;
  right: -30px;
  bottom: 10px;
  z-index: 10; }
  .gotoTop img {
    width: 60%; }

.gotoTop span {
  position: fixed;
  right: 83px;
  bottom: 81px;
  color: #fff; }

.addtop {
  max-height: 100px;
  position: relative;
  top: -10px;
  transition: 0.5s; }

.lo {
  width: 8%; }

.Swid {
  width: 6%; }

.headerIcon li a:hover {
  color: #ffb242;
  cursor: pointer; }

.headerIcon li i:hover {
  color: #ffb242;
  cursor: pointer; }

/*內頁公版 header、footer end*/
.full {
  padding: 20px;
  box-sizing: border-box;
  background-image: url("../../images/ch_bg3.jpg");
  display: flex;
  box-sizing: border-box;
  height: 100vh;
  font-family: Microsoft JhengHei;
  position: relative; }
  .full .addLightBox {
    display: none;
    width: 400px;
    min-height: 700px;
    position: absolute;
    margin: auto;
    z-index: 20;
    top: 100px;
    left: 0;
    right: 0;
    background-color: #fff;
    padding: 20px 10px;
    background-image: url("../../images/ch_bg1.jpg"); }
    .full .addLightBox #closeLb {
      width: 30px;
      height: 30px;
      position: absolute;
      right: 10px;
      top: 10px;
      cursor: pointer; }
      .full .addLightBox #closeLb img {
        width: 100%; }
    .full .addLightBox .formTitle {
      font-weight: 900;
      font-size: 24px;
      color: #fff;
      margin: auto;
      text-align: center;
      margin-bottom: 25px; }
    .full .addLightBox .formValBox {
      width: 100%;
      font-size: 22px;
      margin: 30px 0;
      color: #fff;
      font-weight: 900;
      position: relative; }
      .full .addLightBox .formValBox .inputTitle {
        position: absolute;
        bottom: 10px;
        left: 5px;
        transition: 1s; }
      .full .addLightBox .formValBox input {
        width: 90%;
        border: none;
        padding: 5px;
        font-size: 20px;
        border-bottom: 1px solid #333;
        background-color: transparent;
        font-weight: normal;
        color: rgba(255, 255, 255, 0.5); }
    .full .addLightBox .formTx {
      width: 90%; }
      .full .addLightBox .formTx .txTitle {
        font-size: 22px;
        color: #fff;
        font-weight: 900;
        margin-bottom: 10px;
        padding-left: 5px; }
      .full .addLightBox .formTx textarea {
        width: 100%;
        resize: none;
        min-height: 100px;
        background-color: transparent;
        border: 1px solid #333;
        font-size: 20px; }
    .full .addLightBox #imgbox {
      width: 90%; }
    .full .addLightBox #sendForm {
      position: absolute;
      right: 10px;
      bottom: 10px; }
  .full .sidebar {
    width: 15%;
    padding: 20px;
    height: 95vh;
    border: 2px solid #A0BFCF;
    box-sizing: border-box; }
    .full .sidebar .logo {
      width: 70%;
      font-size: 0;
      margin: auto; }
      .full .sidebar .logo img {
        width: 100%; }
    .full .sidebar .sidebarList {
      text-align: center;
      box-sizing: border-box; }
      .full .sidebar .sidebarList ul li {
        White-space: nowrap;
        width: 100%;
        margin: auto;
        padding: 20px 0 10px;
        font-size: 18px;
        box-sizing: border-box;
        position: relative;
        opacity: .8;
        color: #fff;
        cursor: pointer; }
        .full .sidebar .sidebarList ul li::after {
          content: '';
          margin: auto;
          display: block;
          left: 0;
          right: 0;
          width: 70%;
          height: 1px;
          border-bottom: 0.1px solid #A0aaCF;
          position: absolute;
          bottom: -0.1px;
          transition: .5s; }
        .full .sidebar .sidebarList ul li:hover:after {
          content: '';
          display: block;
          width: 80%;
          height: 1px;
          border-bottom: 0.1px solid #ff9500;
          position: absolute;
          margin: auto;
          left: 0;
          right: 0;
          bottom: 0.1px; }
        .full .sidebar .sidebarList ul li a {
          color: #fff;
          text-decoration: none; }
        .full .sidebar .sidebarList ul li a.active {
          color: #ffb242; }
  .full .contentBox::-webkit-scrollbar {
    width: 8px;
    height: 10px; }
  .full .contentBox::-webkit-scrollbar-track {
    background: #1977B7; 
    -webkit-border-radius: 10px;
    border-radius: 10px; }
  .full .contentBox::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-border-radius: 10px;
    
    background: rgba(255, 255, 255, 0.8);}
  .full .contentBox {
    width: 85%;
    height: 95vh;
    padding: 20px;
    box-sizing: border-box;
    overflow: auto; }
    .full .contentBox .cotentTitle {
      padding: 10px 0;
      border-bottom: 1px solid #A0aaCF;
      display: flex;
      justify-content: space-between; }
      .full .contentBox .cotentTitle h1 {
        font-size: 32px; }
      .full .contentBox .cotentTitle #adminName {
        font-size: 20px; }
    .full .contentBox .FeaturesBot {
      display: flex;
      padding: 10px 0;
      box-sizing: border-box; }
      .full .contentBox .FeaturesBot .contentSearch {
        width: 50%;
        
      }
        .full .contentBox .FeaturesBot .contentSearch input {
          height: 30px;
          opacity: .9;
          font-size: 22px;
          font-family: 'Microsoft JhengHei';
          padding:0px 10px; }
      .full .contentBox .FeaturesBot .contentBtn {
        width: 50%; }
        .full .contentBox .FeaturesBot .contentBtn button {
          float: right; }
    .full .contentBox .tableBox {
      width: 100%;
      box-sizing: border-box; }
      .full .contentBox .tableBox table {
        width: 100%; }
        .full .contentBox .tableBox table tr {
          text-align: center;
          width: 100%;
          padding: 10px 0; }
          .full .contentBox .tableBox table tr:nth-child(odd) {
            background-color: #aaa; }
          .full .contentBox .tableBox table tr:nth-child(even) {
            background-color: #fff; }
          .full .contentBox .tableBox table tr th {
            font-size: 20px;
            font-weight: 800;
            padding: 10px 0;
            color: #fff;
            background-color: #222222; }
          .full .contentBox .tableBox table tr td {
            font-size: 18px;
            padding: 10px 0; }
            .full .contentBox .tableBox table tr td input {
              width: 300px;
              height: 30px; }

.Table {
  width: 100%;
  border-collapse: collapse;
  margin: auto;
  display: table; }
  .Table .Tr {
    width: 100%;
    font-size: 0;
    display: table-row; }
    .Table .Tr:nth-child(odd) {
      background-color: #DEDEDE; }
    .Table .Tr:nth-child(even) {
      background-color: #fff; }
    .Table .Tr:first-child {
      background-color: #222222;
      color: #fff;
      font-size: 20px;
      font-weight: 800; }
      .Table .Tr:first-child .col-big {
        width: 250px;
        overflow: hidden;
        vertical-align: middle; }
    .Table .Tr .col {
      width: 205px;
      height: 40px;
      display: table-cell;
      vertical-align: middle;
      text-align: center;
      font-size: 16px;
      padding: 3px;
      line-height: 1.5; }
      .Table .Tr .col img {
        width: 70%; }
      .Table .Tr .col textarea {
        width: 100%;
        resize: none;
        min-height: 100px;
        background-color: transparent;
        border: 1px solid #333;
        font-size: 18px;
        border: none;
        font-family: Microsoft JhengHei; }
      .Table .Tr .col .upfile {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0; }
    .Table .Tr .col.col-num {
      width: 80px; }
    .Table .Tr .col-big {
      width: 250px;
      overflow: hidden;
      vertical-align: middle; }
